
@font-face{
   font-family:KernTrial-Regular; 
   src: url(./KernTypefaces/KernTrial-Regular.otf);
   font-family:KernTrial-Medium; 
   src: url(./KernTypefaces/KernTrial-Medium.otf);
 }

#try{
  display: none;
  position: absolute;
  font-size: 50px;
  color: black;
}

body{
	background-color: #E8DDDA;
}

ul {
    display: block;
    list-style-type: disc;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    margin-top: 12px;
    margin-bottom: 7px;
    margin-left:12px; 
    margin-right:12px;
}

li{
  list-style: none;
}

.close{
  color: black;
  text-decoration: none;
}

.close:hover{
  text-decoration: underline;
}

canvas{
outline: none; 
border: none;
background-color: #E8DDDA;
z-index: 200;
/*position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);*/
}

#about{
opacity: 1;
transition: all 0.4s ease-in-out;
width:100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
right: 0;
margin: 20px;
padding-top: 100px;
/*z-index: 1000;*/
display: none;
}

.desc{
  font-size: 50px;
  font-family:KernTrial-Regular; 
  line-height: 56px;
  width: 80%;
}

#container{
opacity: 1;
transition: all 0.4s ease-in-out;
width: calc(100% - 100px);
height: calc(100% - 100px);
position: fixed;
top: 0;
left: 0;
margin: 50px;
z-index: 1000;
display: none;

}

.header{
  width: calc(100% - 40px);
  position: fixed;
  margin: 10px 20px 5px 20px;
  top: 0;
  left: 0;
  z-index: 2000;
  font-size: 50px;
  font-family:KernTrial-Regular; 
  justify-content: space-between;
  display: flex;
}

.grid-wrapper{
  margin: 10px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding-top: 100px;
  z-index: 1000;
  
}

.vase-wrapper{
  margin: 0 10px 10px 10px;
  /*width: calc(33% - 20px); */
  width: calc(20% - 20px); /*if I want to make it small*/
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.image-wrapper{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}

/*.vase-image:hover{
background-image: linear-gradient(155deg, #333333, #333333 12px, transparent 12px, transparent 27px, #333333 27px), repeating-linear-gradient(245deg, #333333, #333333 12px, transparent 12px, transparent 27px, #333333 27px), repeating-linear-gradient(-25deg, #333333, #333333 12px, transparent 12px, transparent 27px, #333333 27px), repeating-linear-gradient(65deg, #333333, #333333 12px, transparent 12px, transparent 27px, #333333 27px);
background-size: 1px 100%, 100% 1px, 1px 100% , 100% 1px;
background-position: 0 0, 0 0, 100% 0, 0 100%;
background-repeat: no-repeat;
}*/


#transitionWrapper{
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    position: fixed;
    top: 0;
    left: 0;
    margin: 50px;
    pointer-events: none;
    z-index: 2000;
}


.vase-image{
  position: absolute;
  top: -2px;
  left: -2px;
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
  border: 1px solid black;
  opacity: 1;
}


.animation-finished {
  border: 1px solid rgba(0, 0, 0, 0);
}



.active{
  /*text-align: center;
  display: block;
  margin: 0 auto;*/
 /* top: 50%;*/
  /*transform: translate(-50%,-50%);
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
  height: auto;*/
  /*transition-delay: 4s;*/
/* opacity:0;*/
}

/*@keyframes slide {
    100% { transform: scale(1.1), translate(-50%,-50%); }
}
*/

.inactive{
  opacity: 0;
  pointer-events: none;

}


.vase-name{
  margin-bottom: 5px;
  font-size: 18px;
  font-family:KernTrial-Regular;
  /*color: #614642;*/
}


.actions{
 margin: 0;
 padding: 0;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 padding-top: var(--margin);
}

#image{
  font-size: 20px;
  display: block;
  padding: 0;
  width: 268px;
  text-align: left;
  cursor: pointer;
}

.glazed-m{
  font-size: 18px;
  border: 1px solid black;
  border-radius: 30px;
  padding: 12px;
  margin: 16px 6px 16px 12px;
  text-align: center;
  cursor: pointer;
  width: 44%;
}

.glazed-m:hover{
  border: 2px solid black;
  padding: 11px;
}

.clay-m{
  font-size: 18px;
  border: 1px solid black;
  border-radius: 30px;
  padding: 12px;
  margin: 16px 12px 16px 6px;
  text-align: center;
  cursor: pointer;
  width: 44%;
}

.clay-m:hover{
  border: 2px solid black;
  padding: 11px;
}

.shade{
  font-size: 18px;
  border: 1px solid black;
  border-radius: 30px;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  width: 44%;
}

.selected {
  border: 2px solid black;
  padding: 11px;
}

#brown{
  margin-bottom: 8px;
  margin-top: 16px;
  margin-right: 6px;
  margin-left: 12px;
}

#brown:hover{
  border: 2px solid black;
  padding: 10px;
}

#pink{
  margin-bottom: 8px;
  margin-top: 16px;
  margin-left: 6px;
  margin-right: 12px;
}

#pink:hover{
  border: 2px solid black;
  padding: 10px;
}


#yellow{
  margin-bottom: 16px;
  margin-top: 8px;
  margin-right: 6px;
  margin-left: 12px;
}

#yellow:hover{
  border: 2px solid black;
  padding: 11px;
}

#white{
  margin-bottom: 16px;
  margin-top: 8px;
  margin-left: 6px;
  margin-right: 12px;
}

#white:hover{
  border: 2px solid black;
  padding: 11px;
}
/*#save:after{
  background-image:url('http://127.0.0.1:8887/down.png');
  float: right;
  content:' ';
  height: 16px;
  width: 16px;
  background-size: 16px 16px;
}*/

#reset{
	font-size: 18px;
  border: 1px solid black;
  border-radius: 30px;
  padding: 12px;
  margin: 16px 6px 16px 12px;
  text-align: center;
  cursor: pointer;
  width: 44%;
}

#save{
  font-size: 18px;
  border: 1px solid black;
  border-radius: 30px;
  padding: 12px;
  margin: 16px 12px 16px 6px;
  text-align: center;
  cursor: pointer;
  width: 44%;
}

#reset:hover{
  border: 2px solid black;
  padding: 11px;
}

#save:hover{
  border: 2px solid black;
  padding: 11px;
}

/*#reset:after{
  background-image:url('http://127.0.0.1:8887/reset.png');
  float: right;
  content:' ';
  height: 16px;
  width: 16px;
  background-size: 16px 16px;
}*/

#vasename{
  font-size: 62px;
  position: fixed;
  display: inline;
  top: 20px;
  width: calc(100% - 103px);
  text-align: center;
  font-family:KernTrial-Regular;
  height: 60px;
}


.general{
 margin: 0;
 display: flex;
 flex-wrap: wrap;
 /*padding-top: var(--margin);*/
 /*padding-bottom: calc(var(--margin) - 0.5rem);*/
}
   

.leg{
 margin: 0;
 display: flex;
 flex-wrap: wrap;
    
}

.belly{
 margin: 0;
 /*padding: 0;*/
 display: flex;
 flex-wrap: wrap;
/* padding-top: var(--margin);
 padding-bottom: calc(var(--margin) - 0.5rem);*/
}

.lip{
 margin: 0;
 /*padding: 0;*/
 display: flex;
 flex-wrap: wrap;
/* padding-top: var(--margin);*/

}

.materials{
 margin: 0;
 padding: 0;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 padding-top: var(--margin);
}

.materials::after{
  width: 300px;
  content:'';
  display: block;
/*  box-sizing: border-box;*/
  border-bottom: 1px solid black;
}

.colors{
 margin: 0;
 padding: 0;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 /*padding-top: var(--margin);*/
}


.colors::after{
  width: 300px;
  content:'';
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}


.general::after{
  width: 300px;
  content:'';
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

.lip::after{
  width: 300px;
  content:'';
  display: block;
  box-sizing: border-box;
 border-bottom: 1px solid black;
}

.neck::after{
  width: 300px;
  content:'';
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

.belly::after{
  width: 300px;
  content:'';
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

.leg::after{
  width: 300px;
  content:'';
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}


#info{
  cursor: pointer;
  /*color: #573E3B;*/
}

#index{
  /*color: #573E3B;*/
}

#info:hover{
  text-decoration: underline;
}

#objects
{
  cursor: pointer;
  display: none;
  /*color: #573E3B;*/

}


.object{
  color: black;
  text-decoration: none;
  z-index: 2000;
}

.object:hover{
  text-decoration: underline;
}


.nav{
  width: calc(100% - 43px);
  height: 80px;
  position: fixed;
  margin: 10px 20px 5px 20px;
  top: 0;
  left: 0;
  z-index: 100;
  font-size: 50px;
  font-family:KernTrial-Regular; 
  justify-content: space-between;
  display: flex;
}


.nav-footer{
	width: calc(100% - 43px);
  position: fixed;
  margin: 5px 20px 10px 20px;
  bottom: 0;
  left: 0;
  z-index: 100;
  font-size: 50px;
  font-family:KernTrial-Regular; 
  justify-content: space-between;
  display: flex;

}

#pre{
  cursor: pointer;
}

#pre:hover{
   text-decoration: underline;
}

#next{
  cursor: pointer;
}

#next:hover{
  text-decoration: underline;
}

#edit{
  cursor: pointer;
}

#edit:hover{
  text-decoration: underline;
}

.title{
	font-size: 18px;
	padding-right: .2em;
  font-family: 'KernTrial-Regular';
}

button{
	background-color: inherit;
	border: none;
	font-size: 50px;
	z-index: 1000;
	font-family: 'KernTrial-Regular';
  padding: 0;
}


button:focus {outline:0;}

.parametrs{
font-size: 16px;
font-family: 'KernTrial-Regular';
padding-top: 1.266rem;
font-weight: bold;
}


#controls{
  z-index: 10000;
  top: 40px;
  left: -26px;
  width: 300px;
  position: absolute;
  display: none;
  max-height: 700px;
  overflow-y: auto;
  overflow-y: scroll;
  background-color: #E8DDDA; 
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.accordion {
  background-color: #E8DDDA;
  font-family: 'KernTrial-Regular';
  cursor: pointer;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  width: 300px;
  border-bottom: 1px solid black;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
}


.accordion:after {
  content: '\002B';
  color: black;
  float: right;
  margin-left: 5px;

}

/*.accordion:after{
  background-image:url('http://127.0.0.1:8887/Asset 2@2x.png');
  float: right;
  content:' ';
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  }*/

.open:after {
  content: "\2212";
 /* background-image:url('http://127.0.0.1:8887/Asset 3@2x.png');
  float: right;
  content:' ';
  height: 20px;
  width: 20px;
  background-size: 20px 20px;*/
}

.panel {
 max-height: 0;
 overflow: hidden;
 transition: max-height 0.2s ease-out;

}

.block {
  padding-top: 0.3rem;
  /*padding-left: 0.7rem;
  padding-right: 0.7rem;*/
  padding-bottom: 0.3rem;
  align-items: center;
  width: 278px;
  overflow: hidden;
  /*display: flex;*/
  vertical-align: baseline;
  z-index: 1;
}

output {
  position: relative;
  float: right;
  padding-right:.4em;
  font-size: 18px;
  font-family: 'KernTrial-Regular';
}

input[type=range] {
    -webkit-appearance: none;
    vertical-align: middle;
    width: 98%;  
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 1px;
  background: black;
  border-radius: 8px; 
  cursor: pointer; 
}

input[type=range]::-moz-range-track {
  background: #E8DDDA;
  border-radius: 8px;
  height: 1px;
  cursor: pointer;   
}

input[type=range]::-ms-track {
  background: #E8DDDA;
  border-radius: 8px;
  height: 1px;
  cursor: pointer;  
}


input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  width: 15px;
  height: 15px;
  background: #E8DDDA;
  border: solid 1px black;
  border-radius: 50%;
  margin-top: -7px;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  width: 15px;
  height: 15px;
  background: #E8DDDA;
  border: solid 1px black;
  border-radius: 50%;
  margin-top: -7px;
}

